/* Header */
header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.user-sesion {
    position: relative;
    left: -40px;
}

.logo-navbar img {
    width: 150px;
    height: auto;
    position: relative;
    right: -40px;
}

/* Enlaces de navegación */
.nav-links {
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    
}

.nav-links li {
    margin-left: 20px;
    position: relative;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    
}

.nav-links a:hover {
    color: #f0a500;
}


/* Footer */
.footer {
    background-color: #000;
    padding: 10px 20px;
    border-top: 1px solid #e5e5e5;
    position: absolute;
    width: 100%;
    height: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo-left img,
.footer-logo-right img {
    height: auto;
}

.footer-logo-left img {
    width: 200px; 
}

.footer-logo-right img {
    width: 300px; 
    margin-left: 15px;
}

.footer-redes {
    display: flex;
    gap: 20px;
}

.footer-redes svg {
    width: 15px; 
}


