.first-banner {
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5 5%;
    overflow: hidden;
}

.first-banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7);
    /* Ajusta la oscuridad de la imagen si lo deseas */
}

.first-banner-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
}

.first-banner-text {
    background-color: rgba(7, 0, 0, 0.736);
    padding: 30px;
    border-radius: 7px;
    max-width: 800px;
    color: white;
}

.first-banner-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-family: 'Impact', sans-serif;
}

.first-banner-content h2 {
    color: #ff4d4d;
    font-size: 2rem;
}

.first-banner-content p {
    font-size: 1.2rem;
    max-width: 600px;
}



/* Estilo para el main */
main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el banner */
.banner-section {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.text-content {
    flex: 1;
    min-width: 300px;
    text-align: justify;
}

.text-content h1 {
    font-family: 'Impact', sans-serif;
    color: #1a1a18;
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.text-content p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}


.image-content {
    flex: 1;
    display: flex;
    max-width: 45%;
    margin-left: 20px;
}

.image-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* sección principal */
/* descripción */
.section {
    padding: 4rem 2%;
}

.accent-text {
    color: #ff4d4d;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}

.history-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;
}

/* Nuestros talentos */


.title-container {
    margin: 20px;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}

.word-1 {
    color: #000000;
}

.word-2 {
    color: #0066cc;
}

.underline {
    width: 240px;
    height: 10px;
    background-color: #ffd700;
}

.talent-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
    padding-top: 20px;
}

.talent-description p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    text-align: justify; 
    margin-top: 0;
}
.talent-description a {
    color: #000000;
}

/* Estilos para la sección de cards */
.cards-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 40px 0;
}

.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.card-image img {
    width: 100px;
    /* Ancho fijo de 100px */
    height: 100px;
    /* Altura fija de 100px */
    object-fit: cover;
    /* Asegura que la imagen se ajuste sin distorsión */
    border-radius: 10px;
}


.card h3 {
    font-size: 20px;
    color: #4a4a75;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}



