/* Reset y base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    width: 100%;
}


/* Dropdown */
.dropdown-content, 
.submenu-content {
    display: none;
    position: absolute;
    background-color: #333; 
    min-width: 160px; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
    border-radius: 4px; 
    z-index: 1;
    list-style: none; 
    padding: 8px 0; 
    transition: opacity 0.2s ease, transform 0.2s ease; 
    opacity: 0; 
    transform: translateY(-5px); 
}

.dropdown-content a, 
.submenu-content a {
    color: #fff;
    padding: 8px 16px; 
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 4px; 
}

.dropdown-content a:hover, 
.submenu-content a:hover {
    background-color: #575757; 
}

.nav-links li:hover > .dropdown-content, 
.dropdown-submenu:hover > .submenu-content {
    display: block;
    opacity: 1; 
    transform: translateY(0); 
}

.nav-links li:hover .dropdown-content {
    display: block; 
    opacity: 1; 
    transform: translateY(0); 
}

.dropdown-submenu {
    position: relative;
}

.submenu-content {
    left: 100%; 
    top: -8px;
}


/* Noticias */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1.display-5, 
.bg-light h2 {
    color: #333;
}

p.fs-4 {
    color: #666;
}

.bg-dark h2 {
    color: #fff;
}

/* Selecciones */
.section-team {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    width: 80%;
}

.section-team-tittle {
    text-align: center;
    width: 100%; 
    margin-bottom: 20px; 
}

.section-team-tittle h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}

.section-team-tittle p {
    font-size: 18px;
    color: #666;
    font-style: italic;
}

.flex-content-team {
    background-color: #a4a3a3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.flex-content-team img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.team-content {
    position: relative;
    text-align: center;
    color: white;
    z-index: 2;
}

.team-content h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.team-content p {
    margin-bottom: 20px;
    font-size: 14px;
}

.team-content button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.team-content button:hover {
    background-color: white;
    color: #333;
}

/* Footer */
.footer {
    background-color: #000;
    padding: 10px 20px;
    border-top: 1px solid #e5e5e5;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo-left img,
.footer-logo-right img {
    height: auto;
}

.footer-logo-left img {
    width: 200px; 
}

.footer-logo-right img {
    width: 300px; 
    margin-left: 15px;
}

.footer-redes {
    display: flex;
    gap: 20px;
}

.footer-redes svg {
    width: 15px; 
}

