/* banner principal */
.first-banner {
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5 5%;
    overflow: hidden;
}

.first-banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.4);
    /* Ajusta la oscuridad de la imagen si lo deseas */
}

.first-banner-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
}

.first-banner-text {
    background-color: rgba(7, 0, 0, 0.736);
    padding: 30px;
    border-radius: 7px;
    max-width: 800px;
    color: white;
}

.first-banner-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-family: 'Impact', sans-serif;
}

.first-banner-content h2 {
    color: #ff4d4d;
    font-size: 2rem;
}

.first-banner-content p {
    font-size: 1.2rem;
    max-width: 600px;
    text-align: justify;
}




/* sección principal */
.team-section {
    text-align: center;
    padding: 50px 0;
    background-color: #f7f7f7;
}

/* Contenedor de las tarjetas */
.team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Tarjeta de equipo */
.team-card {
    position: relative;
    width: 300px;
    height: 400px; /* Ajusté la altura */
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de hover en la tarjeta */
.team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Imagen del perfil cubre toda la tarjeta */
.team-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra la tarjeta sin distorsión */
    transition: opacity 0.3s ease;
}

/* Oculta la imagen cuando se hace hover */
.team-card:hover img {
    opacity: 0.3;
}

/* Información del equipo (oculta inicialmente) */
.team-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
}

/* Muestra la información al hacer hover */
.team-card:hover .team-info {
    opacity: 1;
}

/* Estilos del texto dentro de la tarjeta */
.team-info h2 {
    font-size: 24px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.team-info p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 5px 0;
}
/* Footer */
footer {
    background-color: #1a2e4a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

footer a {
    color: #ffdd00;
    text-decoration: none;
}

