
{% if jugadores %}
    {% for j in jugadores %}
    <tbody>
        <tr>
            <td>{{ j.1|upper }}</td>               
            <td>{{ j.2|upper }}</td> 
            <td>{{ j.3|upper }}</td> 
            <td>{{ j.4|upper }}</td> 
            <td>{{ j.5|upper  }}</td> 
            <td>{{ j.6|upper  }}</td>
             
            <td>
                <span class="badge bg-success">{{ j.7 }}</span> 
            </td>

            <td>{{ j.8 }}</td>

        </tr>
    <tbody>

    {% endfor %}

{% else  %}
<tbody>
        <tr>
            <td colspan="9" class="text-center">No hay jugadores inscritos en esta disciplina</td>
        </tr>
<tbody>
{% endif %}