{% extends 'core/base_core.html' %}

{% block contenido %}

    <main>
        <div class="row">
            <!-- Sidebar a la izquierda -->
            <!-- ========== Left Sidebar Start ========== -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Buen Día {{ nombre_admin }} !</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="{% url 'admin_dashboard' %}"><i
                                        class="bi bi-house"></i> Inicio</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'asistencia_admin' %}"><i
                                        class="bi bi-calendar-check"></i> Asistencia</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'crear_perfil_entrenador' %}"><i
                                        class="bi bi-people"></i> Gestionar Entrenador</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'crear_noticias' %}"><i
                                        class="bi bi-graph-up"></i> Gestionar Noticias</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'gestion_galeria' %}"><i
                                        class="bi bi-graph-up"></i> Gestionar Galeria</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'gestion_disciplina' %}"><i
                                        class="bi bi-calendar-check"></i>
                                    Gestionar Disciplina</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'solicitud_jugador' %}"><i
                                        class="bi bi-calendar-check"></i>
                                    Gestionar Solicitudes</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'gestion_eventos' %}"><i
                                class="bi bi-calendar-check"></i>
                            Gestionar Eventos</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'gestionar_periodos' %}"><i
                                class="bi bi-calendar-check"></i>
                            Gestionar Periodos</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'gestion_Jugador_elite' %}"><i
                                class="bi bi-calendar-check"></i>
                            Gestionar Jugadores de Elite</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <!-- start page title -->

        {% block sub_contenido %}
        {% endblock %}


{% endblock %}
