
{% if galeria_disciplina %}
    {% for gd in galeria_disciplina %}
    <tbody>
        <tr>
            <td>{{ gd.0 }}</td>
            <td>{{ gd.3 }}</td>
            <td>{{ gd.4 }}</td>
            <td><button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                data-bs-target="#viewPhotoModal{{ gd.0 }}">Ver</button></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary btn-sm dropdown-toggle"
                        type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Ver Opciones
                    </button>
                    <ul class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton1" data-bs-toggle="modal"
                        data-bs-target="#deleteModal">
                        <li><a class="dropdown-item" href="#"><i
                                    class="bi bi-trash text-danger"></i> Borrar
                            </a></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal"
                            data-bs-target="#EditModal"><i
                                    class="bi bi-pencil text-primary"></i>
                                Editar </a></li>
                    </ul>
                </div>
            </td>
        </tr>
    <tbody>

    <!-- Modal for Ver -->
    <div class="modal fade" id="viewPhotoModal{{ gd.0 }}" tabindex="-1" aria-labelledby="viewPhotoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewPhotoModalLabel">{{ gd.3 }}</h5>
                </div>
                <div class="modal-body">
                    <img src="data:imagen/png;base64, {{ gd.imagen }}" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

{% else  %}
    <tbody>
            <tr>
                <td colspan="9" class="text-center">No hay Imagenes en la galeria de esta disciplina</td>
            </tr>
    <tbody>
{% endif %}