<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        {% load static %}

        <link rel="stylesheet" href="{% static 'core/css/login-style.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- HEATER Y FOOTER -->

    </head>
    <body>


        <div class="login-box">
            <img src="{% static 'core/media/logo-duoc.png'%}" alt="Login" class="login-logo" height="100">
            <form id="login-form" method="post">
                {% csrf_token %}

                <div class="form-group">
                    {{ form.username }}
                    {{ form.username.label_tag }}
                </div>
                <div class="form-group">
                    {{ form.password }}
                    {{ form.password.label_tag }}
                </div>
                <button type="submit" class="custom-button">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Iniciar sesión
                </button>
            </form> 
        </div>

        <script src="{% static 'core/js/script-login.js' %}"></script>

    <!-- MENSAJES -->


    {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                    "title": "Error!",
                    "text": "{{ message }}",
                    "icon": "error",
                })
            </script>
        {% endfor %}
    {% endif %}


    </body>
</html>