<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login-style.css">
</head>
<body>

    <div class="login-box">
        <img src="Assets/media/logo-duoc.png" alt="Login" class="login-logo" height="100">
        <form id="login-form">
            <div class="form-group">
                <input type="text" name="username" id="username" required="">
                <label>Usuario</label>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" required="">
                <label>Contraseña</label>
            </div>
            <button type="submit" class="custom-button">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Iniciar sesión
            </button>
        </form>
    </div>

    <script src="script-login.js"></script>
</body>
</html>
