<!-- HEATER Y FOOTER -->
{% extends 'core/base_core.html' %}


<!-- Cargar Statics -->
{% load static %}

<!-- Enlace css -->
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
<link rel="stylesheet" href="{% static 'core/css/style-team-us.css' %}">
<link rel="stylesheet" href="{% static 'core/css/style-team-galery.css' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{% endblock css %}

<!-- Enlace JS -->
{% block js %}

<link rel="stylesheet" href="{% static 'core/javascript/script-team-gallery.js' %}">
<link rel="stylesheet" href="{% static 'core/javascript/script.js' %}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock js %}

{% block contenido %}

    {% if seccion == "acerca" %}
        
        <!-- Main -->
        <main class="main-section">
            <div class="main-container">
                <!-- Contenido de texto -->
                <div class="main-content">
                    <div class="decorative-cross"></div>
                    <h1 class="main-title">
                        <span class="title-accent">{{ disciplina.discipline_name }}</span>

                    </h1>
                    <p class="main-subtitle">
                        {{ disciplina.discipline_description }}
                    </p>
                    <a href="{% url 'disciplina_view' disciplina.discipline_name 'galeria' %}" class="cta-button">
                        CONÓCENOS
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <path d="M5 12h14M12 5l7 7-7 7" />
                        </svg>
                    </a>

                    <!-- Estadísticas -->
                    <div class="stats-container">
                        <div class="stat-item">
                            <div class="stat-number">8</div>
                            <div class="stat-label">SELECCIONADOS</div>
                        </div>
                        <div class="stat-item">
                            <div class="stat-number">200+</div>
                            <div class="stat-label">VICTORIAS</div>
                        </div>
                        <div class="stat-item">
                            <div class="stat-number">5+</div>
                            <div class="stat-label">CAMPEONATOS</div>
                        </div>
                    </div>
                </div>

                <!-- Contenedor de imagen -->
                <div class="main-image-container">
                    <img src="{% static 'core/media/new3.png'%}" alt="Deportes DuocUC" class="main-image">
                </div>
            </div>
            <!-- sección del plantel  -->

            {% if jugadores %}
                <section class="team-roster">
                    <div class="roster-container">
                        <header class="roster-header">
                            <h2 class="roster-title">PLANTEL OFICIAL</h2>
                            <div class="roster-season">Temporada 2024</div>
                        </header>

                        <div class="cards-container">
                            <!-- Card 1 -->
                            {% for jugador in jugadores %}

                                <div class="card" data-player-id="{{ jugador.jugador.player_id }}">
                                    <div class="player-image-container">
                                        {% if jugador.imagen_base64 %}

                                        <img src="data:image/png;base64,{{ jugador.imagen_base64 }}" alt="{{ jugador.jugador.player_name }}" class="player-image">

                                        {% else %}
        
                                        <img src="{% static 'core/media/avatar.png'%}" alt="Player Image" class="player-image">
        
                                        {% endif %}
                                    </div>
                                    <div class="card-content">
                                        <h3 class="player-name">{{ jugador.jugador.player_name }}</h3>
                                        <h4 class="player-name">{{ jugador.jugador.player_last_name }}</h4>
                                        <div class="player-details">
                                            <span class="detail-item">
                                                <i class="bi bi-geo-alt"></i>
                                                {{ jugador.jugador.player_headquarters }}
                                            </span>
                                            <span class="detail-item">
                                                <i class="bi bi-clock"></i>
                                                {{ jugador.jugador.player_horary }}
                                            </span>
                                        </div>
                                        <button class="view-details-btn"data-bs-toggle="modal" data-bs-target="#playerModal{{ n.data.0 }}">
                                            Ver detalles
                                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                <path d="M3.33334 8H12.6667M12.6667 8L8.00001 3.33333M12.6667 8L8.00001 12.6667"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div id="playerModal{{ n.data.0 }}" class="modal" tabindex="-1" aria-labelledby="viewNewModalLabel{{ n.data.0 }}" aria-hidden="true">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="modal-close">&times;</button>
                                        </div>
                                        <div class="player-profile">
                                            <img src="data:image/png;base64,{{ jugador.imagen_base64 }}" alt="" class="profile-image">
                                            <div class="profile-info">
                                                <h2 class="player-name">{{ jugador.jugador.player_name }}</h2>
                                                <h3 class="player-name">{{ jugador.jugador.player_last_name }}</h3>
                                                <div class="info-grid">
                                                    <div class="info-item">
                                                        <span class="info-label">Sede</span>
                                                        <span class="info-value sede">{{ jugador.jugador.player_headquarters }}</span>
                                                    </div>
                                                    <div class="info-item">
                                                        <span class="info-label">Jornada</span>
                                                        <span class="info-value jornada">{{ jugador.jugador.player_horary }}</span>
                                                    </div>
                                                    <div class="info-item">
                                                        <span class="info-label">Carrera</span>
                                                        <span class="info-value carrera">{{ jugador.jugador.player_career }}</span>
                                                    </div>
                                                    <div class="info-item">
                                                        <span class="info-label">Año de nacimiento</span>
                                                        <span class="info-value ingreso">{{ jugador.jugador.player_birthday }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </section>
            {% endif %}


        </main>

    {% elif seccion == "galeria" %}

    <!-- Sección principal -->
    <section class="teams-section">
        <div class="title-container">
            <h1 class="discipline-title">{{ disciplina.discipline_name }}</h1>
            <h1 class="discipline-title-overlay">{{ disciplina.discipline_name }}</h1>
        </div>    


        <div class="section-container-galeria">
            <div class="gallery-grid">
                {% for i in imagenes %}

                    <div class="gallery-item" data-bs-toggle="modal" data-bs-target="#imageModal{{ i.imagen }}">
                        <img src="data:imagen/png;base64, {{ i.imagen }}"
                            alt="Imagen galería">
                    </div>
                    
                    {% endfor %}

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="imageModal{{ i.imagen }}" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body">
                        <img src="data:imagen/png;base64, {{ i.imagen }}" id="modalImage" class="img-fluid" alt="Imagen ampliada">
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endif %}
{% endblock %}



