{% extends 'core/base_core.html' %}


<!-- Cargar Statics -->
{% load static %}

<!-- Enlace css -->
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/style-admin.css' %}">


<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

{% endblock css %}

<!-- Enlace JS -->
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock js %}


<!-- Contenido de la pagina Eventos -->
{% block contenido %}
    <!-- Main -->
    <main>
        <div class="main-entrenador d-flex">
            <!-- Sidebar a la izquierda -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="col-md-3 justify-content-flex-start ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Buen Día {{ nombre_entrenador  }}!</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="{% url 'entrenador_dashboard' %}"><i
                                    class="bi bi-house"></i> Inicio</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'asistencia_entrenador' %}"><i
                                    class="bi bi-calendar-check"></i>
                                Asistencia</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'perfil_jugadores' %}"><i
                                    class="bi bi-people"></i> Perfil de Jugadores</a></li>
                        
                        <li class="nav-item"><a class="nav-link" href="{% url 'grafico' %}"><i
                                    class="bi bi-graph-up"></i>  Grafico</a></li>
                    
                    </ul>
                </div>
            </div>
        </div>
            <!-- Left Sidebar End -->
            <!-- Start MAIN -->
            <div class="container-fluid">
                <!-- <div class="row mt-3">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Gestion de Entrenamientos</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Perfil de Entrenador</li>
                            </ol>
                        </nav>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-lg-12">

                        <div class="card mb-5">
                            <div class="card-body pb-0 m-5">
                                <div class="row d-flex justify-content-center">
                                    <h4><i class="bi bi-journal-text text-primary font-size-22"></i> Gestion de
                                        Entrenamientos</h4>
                                    <div class="container mt-4">
                                        <!-- <div class="row mb-3">
                                            <div class="col-auto">
                                                <div class="input-group">
                                                    <span class="input-group-text">Buscar:</span>
                                                    <input type="text" class="form-control" placeholder="Buscar...">
                                                </div>
                                            </div>
                                        </div> -->

                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Detalles</th>
                                                    <th>Día de Entrenamiento</th>
                                                    <th>Disciplina</th>
                                                    <th>Ubicacion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Entrenamiento</td>
                                                    <td>17/03/2023 16:24:05</td>
                                                    <td>Futbol Varones</td>
                                                    <td>Sede Antonio Varas Cancha</td>
                                                </tr>
                                                <tr>
                                                    <td>Entrenamiento</td>
                                                    <td>17/03/2023 16:24:05</td>
                                                    <td>Futbol Varones</td>
                                                    <td>Sede Antonio Varas Cancha</td>
                                                </tr>
                                                <tr>
                                                    <td>Feriado</td>
                                                    <td>17/03/2023 16:24:05</td>
                                                    <td>-</td>
                                                    <td>Chile</td>
                                                </tr>
                                                <!-- Add more rows as needed -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
{% endblock %}