<!-- HEATER Y FOOTER -->
{% extends 'core/base_core.html' %}

<!-- Cargar Statics -->
{% load static %}

<!-- Enlace css -->
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/galeria.css' %}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{% endblock css %}

<!-- Enlace JS -->
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'core/javascript/script-galery.js'%}"></script>

{% endblock js %}

<!-- Contenido de la pagina Noticias -->
{% block contenido %}

<!-- Contenido Principal -->

<!-- banner -->
<section class="first-banner">
  <img src="{% static 'core/media/media_seleccines/banner_galeria.png'%}" alt="selecciones" class="first-banner-img">
  <div class="first-banner-content">
    <div class="first-banner-text">
      <h1>NUESTRA GALERÍA</h1>
      <p>Revisa nuestros mejores momentos y revive la pasión y energía de cada competencia, evento y triunfo de Duoc
        UC.
      </p>
    </div>
  </div>
  </div>
</section>
<section class="container galeria mt-5">
  
  {% if entity %}
    
    <div class="row">


      {% for g in entity %}

        <div class="col-lg-4">
          <img src="data:imagen/png;base64, {{ g.imagen }}"  alt="Imagenes" class="rounded img">
        </div>

      {% endfor %}

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <img src="" alt="Imagenes" class="rounded" id="imgModal">
      </div>
    </div>

    <div>

      {% include 'core/paginator.html' %}

    </div>


    <!-- <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link">Anterior</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Siguiente</a>
        </li>
      </ul>
    </nav> -->
  
  {% else %}

    <div class="first-banner"> <h1><strong> No hay imagenes registradas </strong></h1> </div>  

  {% endif %}  

</section>
  {% if mensaje_error %}
    {% for m_eror in mensaje_error %}
        <script>
            Swal.fire({
                "title": "Error!",
                "text": "{{m_eror}}",
                "icon": "error",
            })
        </script>
    {% endfor %}
  {% endif %}

  {% if mensaje_exito %}
    {% for m_exito in mensaje_exito %}
        <script>
            Swal.fire({
                "title": "Felicidades!",
                "text": "{{m_exito}}",
                "icon": "success",
            })
        </script>
    {% endfor %}
  {% endif %}

{% endblock %}